body {
	margin: 0;
	padding: 0;
	font-family: arial;
	color: #666;
}
/*ID principal. Do bloco principal da estrutura do site. Contem: o header, o banner principal e a lista de produtos*/
#container{
	width: 100%; 
    height: 100%;
	background-color: #fff;
}
/*Classe responsável pelo header que direciona para o formulário de cadastro de usuários e login de user*/
.menucadastro {
	height: 50px;
	float: right;
}
/*Classe responsável pelo menu superior de opções/ header*/
.menu {
	height: 50px;
	float: left;
}
/*Classe responsável pelo espaçamento ou efeito de borda entre o menucadastro/*/
.borda{
	padding: 1px;
}
/*Classe responsável pelo background e altura do header*/
.fundomenucadastro{
	background-color: #000;
	height: 60px;
}
/*Classe responsável para cor do menu header secundário no caso de querer que os 2 
tenham cores diferentes e não compartilhem a mesma cor*/
.fundomenu{
	background-color: #000;
	height: 60px;
}
.menu {
	font-size: 13px;
}
/*Classe responsável por manipular o li do menu*/
.menu li {
	float: right;
	margin-right: 20px;
	line-height: 60px;
}
.menu li {
	list-style: none;  /* remove bolinha da lista 
}

.menu a {
	color: #fff;
	text-decoration: none; /* tira sublinhado 
}

.menu a:hover {
	color: #fc8779;
	text-decoration: none; /* tira sublinhado */
}
/*Classe responsável pela margin e posicionamento da LOGO MARCA do site*/
.logo{
	float: left;
	margin-top: 5px;
	margin-left: 25px;
}
/*class responsável pela manipulação do banner de promoções e destaques*/
.destaque {
	background: #353637;
	font-size: 25px;
	color: #fff;
	text-align: center;
	clear: both;
}
/*experimento, não está sendo usado realmente*/
.botaodestaque{
	box-shadow: 2px 2px 3px #000;
	text-shadow: -2px 1px 2px #000;
	height: 50px;
	width: 120px;
	font-size: 20px;
	background-color: #fc8779;
	border-radius: 5px;
	color: #fff;
	margin-top: 30px;
	border-color: #000;
}
.servico {
	background: #f9fafb;
	clear: both;
	text-align: center;
	float: left;
}
/*class de bloco de div responsável por auxiliar na margen e geração do formato de layout GRID */
.servicodiv{
    margin: 20px auto 20px auto;
}

/*.conteudo {
	clear: both;
	background-color: #fff;
}
*/

/*//footer da página, normalmente contem informações da empresa, contato e outros dados. 
No nosso caso somente o nome dos criadores*/
.rodape {
	background: #353637;
	height: 50px;
	color: #fff;
	text-align: center;
	line-height: 50px;  /*  altura da linha  */
	clear: both;
}

/*class responsável por manipular o estilo dos botões principais do site, incluindo os botões do menu HEADER*/
.btn-group .button {
	background-color: #000;
	border: none;
	color: white;
	padding: 15px 32px;
	height: 60px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
  }
  /*classe responsável por deixar no mesmo hexadecimal da Logo Marca ao passar o mouse em cima*/
  .btn-group .button:hover {
	background-color: #65a995;
  }
/*classe responsável pela div das transições*/
  .mySlides {
	  display: none;
	  height: 100%;
	  width: 100%;
	}

/*class responsável pelo texto de explicação da loja*/
	.textosobre{
		text-align: center;
	}
/*classe responsável pela borda das imagens da LISTA DE PRODUTOS e pelo espaçamento entre os ELEMENTOS DA LISTA*/
	.imagem{
		margin: 3px auto;
		/*border: 1px solid #f1f1f1;
    	border-radius: 20px;*/

	  }
/*classe responsável pela DIV que contem a segunda imagem oculta do mesmo ITEM/PRODUTO*/
	.imagemsecundaria{
		opacity:0;
		transition: opacity .2s linear;
	 }
	  /*classe responsável pelo  EFEITO DE "TRANSIÇÃO" da PRIMEIRA IMAGEM para a SEGUNDA IMAGEM de um mesmo PRODUTO*/
	  .imagem:hover .imagemsecundaria{
		opacity:1;
	   }
.card-body {
  height: 255px;
  background: #fff;
  border-radius: 0 0 25px 25px;
}

.product-title {
  padding: 20px 20px 5px 20px;
  display: block;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-title b {
  font-weight: 900;
  letter-spacing: 0px;
}

.badge {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: #11e95b;
  padding: 2px 5px;
  border-radius: 4px;
  top: -2px;
  margin-left: 5px;
}

.product-caption {
  display: block;
  padding: 0 20px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-rating {
  padding: 0 20px;
  font-size: 11px;
}

.product-rating i.grey {
  color: #acacab;
}

.product-size h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.ul-size {
  margin-left: 15px;
}

.ul-size li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-size li a {
  display: inline-block;
  text-decoration: none;
  font-size: 11px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  text-align: center;
  line-height: 23px;
  color: #000;
}

.ul-size li a.active {
  background: #f35e3d;
  color: #fff;
}

.product-size:before,
.product-size:after {
  content: '';
  display: block;
  clear: both;
}

.product-color h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.ul-color {
  margin-left: 27px;
}

.ul-color li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-color li a {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.ul-color li a.orange {
  background: #f35e3d;
}
.ul-color li a.blanc {
  background: #f2f2f2;
}
.ul-color li a.black {
  background: #000;
}
.ul-color li a.grey {
  background: #d1d1d1;
}

.ul-color li a.green {
  background: #11e95b;
}

.ul-color li a.yellow {
  background: #ffd414;
}

.ul-color li a.active:after {
  position: absolute;
  content: '';
  display: inline-block;
  border: 1px solid #f35e3d;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-left: -5px;
  margin-top: -5px;
}

.product-price {
  position: absolute;
  background: #11e95b;
  padding: 7px 20px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
  border-radius: 7px;
  margin-top: -13px;
  margin-left: -5px;
  box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
}

.product-price b {
  margin-left: 5px;
}



.yt
{
  position: fixed;
  padding:7px 10px 3px 10px;
  top: 5px;
  right: 5px;
  background: rgba(0,0,0,0.1);
}

.yt:hover
{
  background: rgba(0,0,0,0.2);
}


	/*.section, .code {
		margin-bottom: 16px!important;
	}*/

/*	   .holder {
		display: flex;
		justify-content: center;
	}
*/
/*	.fcenter{
		text-align: center;
	}*/